<div class="row ">
    <div class="col">
      <mat-card class="example-card mx-0 px-0 ">
        <mat-card-header  class="mb-5 mt-3">
                      <p class="color_primario_letras letraTitulo text-center max_margen"><b>Bienvenido a Digital &
            Social</b></p>
        </mat-card-header>
        <mat-card-content class="px-5">
          <div class="card">
            <div class="card-body">
              <form>
                <legend style="text-align: center;" class="py-2 color_primario_letras">Inicio de Sesión</legend>
                <div class="mb-3 w_100_input">
                  <mat-form-field appearance="outline">
                    <mat-label class="form-label">Correo</mat-label>
                    <input class="" type="email" matInput
                      placeholder="Placeholder">
                    <mat-icon matSuffix><i class="fas fa-user"></i></mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </div>

                <div class="mb-3 w_100_input">
                  <mat-form-field appearance="outline">
                    <mat-label class="form-label">Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide= !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>


                </div>
                <div class="row w_100_input">

                </div>
                <div class="d-grid gap-2">
                  <button mat-raised-button class="fondo_primario_btn py-1">Entrar</button>
                </div>
                <div class="row m-3">
                  <p class="text-center color_primario_letras letra_contra" (click)="openDialog()">¿Recuperar
                    su Contraseña?</p>
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions class="px-5">
          <p class="text-end">Deseo Registrarme <a [routerLink]="['/registro']" mat-flat-button>Registro</a></p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
