<h2 mat-dialog-title>Recupera tu contraseña</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo</mat-label>
      <input type="email" matInput [formControl]="emailFormControl"
             placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--<button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-flat-button class="fondo_primario_btn" [mat-dialog-close]="true" cdkFocusInitial >Cancelar</button>
  <button mat-flat-button class="fondo_primario_btn" [mat-dialog-close]="true" cdkFocusInitial >Recuperar</button>
</mat-dialog-actions>
