    <mat-card>
    <form>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill" >
                <mat-label >State</mat-label>
                <mat-select  >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col">
            <div class="input-group input-group-lg">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Logo</button>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="logo" matInput>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field appearance="fill" >
                <mat-label >Figura</mat-label>
                <mat-select  >
                  <mat-option *ngFor="let figura of figuras" [value]="figura.id_figure_pk">{{figura.nombre_figura}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill" >
                <mat-label >Estado</mat-label>
                <mat-select  >
                  <mat-option *ngFor="let estado of estadosMexico" [value]="estado.id_country_state_pk">{{estado.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field appearance="fill" >
                <mat-label >Municipio</mat-label>
                <mat-select  >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>*CP</mat-label>
                <input matInput type="number"   placeholder="Ex. 12">
                <span matSuffix>px</span>
                <mat-error >Min size: 10px</mat-error>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>*Telefono</mat-label>
                <span matPrefix>+52 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>*RFC</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>Sitio Web/Red social (Opcional)</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <!--[formControl]="email"-->
                <input matInput placeholder="pat@example.com"  required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>Repite tu contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">

              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col w_100_input">
            <mat-form-field appearance="fill">
                <mat-label>Presentación</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </div>
    </div>
    <button class="btn">Registrar Sucursal</button>
</form>
</mat-card>

