<div class="container-fluid  contenidoHeader py-3 mb-4">
    <div class="row">
        <div class="col-6">
            <img src="assets/img/logotipo-fundacion-enter-1.png" class="logo">
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="fondo_primario_btn" mat-raised-button [routerLink]="['/login']">Login</button>
        </div>
    </div>
</div>