 <div *ngIf="estadoDesing; else elseBlock" class="container-fluid px-5 pb-5">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="row mb-3">
                <div class="col">
                    <img _ngcontent-lkn-c71="" src="/assets/img/logotipo-fundacion-enter-1.png" height="100px" alt="Logo enter" class="logoE">
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    
                </div>
                <div class="col">
                    
                </div>
                <div class="col">
                    
                </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <app-login></app-login>
        </div>
    </div>
</div>

<ng-template class="container-fluid" #elseBlock>
    <app-header></app-header>
    <div class="mx-5">
        <app-affiliate-registration class="mx-5"></app-affiliate-registration>
    </div>
</ng-template>

<app-footer></app-footer>