/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 86vh; }

.color_primario_letras{
    color: rgb(220, 148, 51);
}
.color_white_letras{
    color: white;
}

.fondo_primario_footer{
    background-color: rgb(203, 101, 51) ;
}
.fondo_primario_btn{
    background-color: rgb(203, 101, 51) ;
    color: white;
}

.w_100_input{
    display: flex;
    flex-direction: column;
}
.max_margen{
    width: 100%; 
}